[Unit]
Description=bugwarrior-pull

[Service]
Environment="DISPLAY=:0"
# TODO: use variable to represent home dir
ExecStart=/home/simonwjackson/.local/bin/bugwarrior-pull
Type=oneshot

[Install]
WantedBy=default.target
