*
!*/

# Self

!/.gitignore

# Config files

!/.config/i3/**
!/.config/zsh/**
!/.config/kitty/**
!/.mozilla/firefox/default/chrome/**
!/.mozilla/firefox/profiles.ini
!/.zshrc

# Apps

!/.config/packages.*

# Local scripts

!/bin/**
