[alias]
  d = difftool
  mt = mergetool # Alternative to `g mc`, `:h vimdiff` in nvim for more info (try `:dif[fupdate]`, `]c`, `do`, `dp`).

  c = "! git commit --message"
  u = "! git add --update"
  # Use commitizen as default (fallback to git-commit)
  ; c = "!f() { \
  ;        if [ -x \"$(which npx)\" ]; then \
  ;          npx git-cz ${@}; \
  ;        else \
  ;          git commit ${@}; \
  ;       fi \
  ;      }; f"

  # Commit all with message
  commit-all-with-message = "!git add -A && git c --message"
  # Commit all now and sync
  commit-with-sync = "! git uma && git sync"

  # Update the previous commit with new changes
  amend-staged = commit --amend --no-edit
  # Update the previous commit with new changes and change the message.
  amend-staged-with-message = c --amend 
  # Commit all now: Add changed files and commit with the same message.
  amend-all-now = commit --amend --no-edit -a

  fzf = "!f() { git-fzf $@ }; f"
  
  # Graph log: gives you history of current branch
  l = log --graph --decorate --oneline
  # Graph log all: all commits in repo
  la = log --graph --decorate --oneline --all
  # Graph log all as shortlist: tag/branch/labelled commits.
  las = log --graph --decorate --oneline --all --simplify-by-decoration 
  # Graph who and when.
  lw = log --color --graph --pretty=format:'%C(214)%h%C(reset)%C(196)%d%C(reset) %s %C(35)(%cr)%C(27) <%an>%C(reset)'

  # Need to add other commands (and maybe switch to shortcuts as in https://junegunn.kr/, e.g. https://junegunn.kr/2016/07/fzf-git).
  lp = "!git log --graph --color=always --format=\"%C(auto)%h%d %s %C(black)%C(bold)<%an> %cr%C(auto)\" \"$@\" \
        | fzf --ansi -m --no-sort --reverse --tiebreak=index \
        --bind=ctrl-s:toggle-sort \
        --preview-window=top:50% \
        --preview \"(grep -o '[a-f0-9]\\{7\\}' | head -1 | xargs -I % sh -c 'git show % | delta') <<< {}\" \
        --bind \"ctrl-o:execute: (grep -o '[a-f0-9]\\{7\\}' | head -1 | xargs -I % sh -c 'git show --color=always % | LINES=0 less -R') <<< {}\" #"
  # Escape < and > for github markdown, (useful for generating changelogs).
  changelog  = "! git log --pretty=format:'* %h - %s %n%w(76,4,4)%b%n' --abbrev-commit \"$@\" | perl -0 -p -e 's/(^|[^\\\\])([<>])/\\1\\\\\\2/g ; s/(\\s*\\n)+\\*/\\n\\n*/g' #"

  sync = "! git fetch --tags && git rebase --autostash && git push"

  # Squash all unpushed commits with a new message
  squash = "! git reset --soft HEAD~$(git log origin/main..main | grep commit | wc -l | awk '{$1=$1};1') && git commit"
  s = "squash"
  
[user]
  email = simon@simonwjackson.com
  name = Simon W. Jackson
  
[difftool]
  prompt = false
  
[diff]
  tool = vimdiff         # Use nvim vimdiff to view diffs (`git difftool`).
  
[mergetool "vimdiff"]
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
  
[merge]
  tool = vimdiff           # Use vimdiff (actually neovim's vimdiff) to view and fix merge conflicts (instead of `g mc`).
  
[core]
  pager = delta
    excludesfile = ~/.gitignore

[interactive]
  diffFilter = delta --color-only

[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse
  side-by-side = false

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  
[commit]
  gpgsign = false

[init]
  defaultBranch = main

[pull]
  rebase = false
