/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

/*
 * Hide tab bar
 */

#TabsToolbar {
	visibility: collapse;
}

/*
 * Hide navigation bar 
 */

/*
#navigator-toolbox {
  visibility: collapse;
}
*/

/*
 * Hide navigation bar 
 */
browser {
	margin-right: -14px;
	margin-bottom: -14px;
}

/*
 * Hide back and forth navigation 
 */

#back-button,
#forward-button {
	display:none !important;
}
